body{
    color:rgba(26,26,26,.7);
    font-family: 'Raleway', sans-serif;
    font-size:32px;
    margin:0;
}

@media(max-width:500px){
    body{
        font-size:14px;
    }
}

nav{
    background-color:rgb(46, 45, 45);
     position:absolute;
     top:0;
     left:0;
     right:0;
 
     font-size: 1em;
     padding:20px;
 
     display: flex;
     justify-content: space-between;
     align-items: center;
 }


 
 #logo{
     color:white;
     font-family: 'Poppins', sans-serif;
     font-size: 1em;
     font-weight: normal;
     text-transform: uppercase;
 }
 
 @media(max-width:500px){
     #logo{
         font-size:1em;
     }
 }
 
 #logo img{
     width: 50px;
     height:50px;
     margin-bottom: -20px;
 }
 
 #links a{
     margin: 15px;
     font-size: .7em;
 }
 
 
 a{
     color:white;
     cursor: pointer;
 }
 
 a.button{
     padding:10px 15px;
     border:2px white;
     color: white;
    text-decoration: none;
 }
 
 a.button:hover{
     background-color: white;
     color:rgb(46, 45, 45);
 }

 #menu{
    display:none;
}

#menu div{
    width:25px;
    height:3px;
    background-color: white;
    margin:5px 0;
}

@media(max-width:500px){
    #links{
        display: none;
    }
#menu{
    display: block;
}
}

 section{
     margin:150px;
     text-align: center;

 }

 @media(max-width:500px){
    section{
        margin:40px 10px;
    }
}

 section h1{
    font-family: 'Nunito', sans-serif;
    font-size: 1.75em;
    color:black;
 }

 @media(max-width:500px){
     section h1{
         font-size: 1em;
         margin-top: 100px;
     }
 }

 #search{
    border:2px solid #424242;
    display: flex;
    width: 50%;
    height: 6vh;
    padding: 2px;
    justify-content: space-between;
    align-items: center;
    color: #424242;
    border-radius: 10px;
    z-index: 3;

 }

 @media(max-width:500px){
     #search{
         height:4vh;
     }
 }

 #search img{
    height: 3.5vh;
    width: 3.5vh;
    margin-right: 16px;
}

@media(max-width:500px){
    #search img{
        height: 18px;
    width: 18px;
    }
}

#search input:focus{
    outline: none;
}

#search input#search{
    width: 90%;
    font-weight: bold;
    font-style: normal;
    font-size: 1rem;
    margin-left: 16px;
    border: 0px;
}

@media(max-width:500px){
    #search input#search{
        font-size:1em;
    }
}

article #view h2{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 1.8rem;
}

#corsi.genre{
    text-align: center;
    align-items: center;
    margin-left: 150px;
    margin-right:0;
}

@media(max-width:500px){
    #corsi.genre{
        margin-left:40px;
    }
}

.show-case{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    margin-bottom: 10vh;
    flex-wrap: wrap;
}
@media(max-width:500px){

div.show-case{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
}

.card{
    margin:8px;
    display:flex;
    flex-direction: column;
}

@media(max-width:500px){
    .card{
        align-items: center;
    }
}
.card img{
    width:300px;
    height:168px;
}

@media(max-width:500px){
    .card img{
        width:230px;
        height:150px;
    }
}

div.show-case div.card div img{
    height: 24px;
    width:24px;
    margin:2px;
}

@media(max-width:500px){
    div.show-case div.card div img{
        height: 20px;
    width:20px;
    margin:2px;
    }
}

.card h5{
    font-weight: bold;
    font-stretch: expanded;
    font-size: 1.3rem;
    color:#cc220a;
}

@media(max-width:500px){
    .card h5{
        font-size:1em;
    }
}

.card p{
    font-weight: normal;
    font-stretch: normal;
    font-size: 1.1rem;
    color:black;
}

@media(max-width:500px){
    .card p{
        font-size:0.7em;
    }
}


.hide{
    display: none;
}

.show{
    display: block;
}

.description{
    max-width: 300px;
}

footer{
    background-color: rgb(31,31,31);
    color:rgba(255,255,255,.8);
    padding:75px;
    text-align: center;
}

@media(max-width:500px){
    footer{
        padding:0;
    }
}

address{
    font-size: .5em;
}

footer h1{
    font-size: 1em;
}

#social{
    display:flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}


#social img{
    width:50px;
    height:50px;
}

@media(max-width:500px){
    #social img{
        width:25px;
        height:25px;
    }
}

#social p{
    font-size: 16px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    
}

@media(max-width:500px){
    #social p{
        font-size:8px;
    }
}